.header-container{
    position: relative;
    max-width: 1380px;
    margin: 0 auto;
    width: 100%;
    height: 400px;
}

h1 {
    font-family: 'Montserrat';
    text-align: center;
    color: white;
}
p{
    font-family: 'Montserrat';
    color: #fff;
}

.s1{
    background: url('../images/marianna-smiley-y3BBVEpMl4E-unsplash.jpg');
    background-size: cover;
    padding-left: 20px;

    h1{
        font-size: 50px;
        text-transform: uppercase;
        position: absolute;
        top: 0%;
        left: 0;
    }
    p{
        position: absolute;
        top: 19%;
        left: 1.5%;
    }
}

.s2{
    background: url('../images/luca-bravo-9l_326FISzk-unsplash.jpg');
    background-size: cover;
    padding-left: 20px;
    .header-container{
        h1{
            font-size: 50px;
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 2.5%;
        }
        p{
            position: absolute;
            top: 19%;
            left: 1.5%;
        }
    }


}

.s3{
    background: url('../images/falcons-bg.jpg');
    background-size: cover;

}

.s4{

}

span{
    background: white !important;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* adjust as needed */
    max-width: 1280px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    margin: 0 auto;
  }

  nav ul{
    padding: 0;
    max-width: 200px;
  }

  nav li {
    margin-bottom: 10px;
    position: relative;
    padding: .5em .8em;
    list-style-type: none;
    text-align: center;
  }

  nav li a {
    color: #fff; /* change as needed */
    text-decoration: none;
    text-align: center;
  }

  nav li.active a {
    font-weight: bold;
  }

  nav li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(163, 44, 44); /* change as needed */
    transform: scaleX(0) translateY(-100%);
    transform-origin: center;
    transition: transform 0.5s ease-in-out 0.1s, width 0.5s ease-in-out 0.1s, height 0.5s ease-in-out 0.1s;
    z-index: -1;
    box-shadow: 0 2px 4px rgb(255 255 255 / 65%);
    border-radius: 30px;
    border: solid 3px #fff;
    box-sizing: border-box;
  }

  nav li.active::before {
    transform: scaleX(1) translateY(0);
  }
